:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #211e24;
    color: #b6bfcb;
}


h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 5rem;
    color: #af4657;
    margin-bottom: 5rem;
}

h2 {
    font-family:'Montserrat', sans-serif;
    font-size: 4.2rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    color: #af4657;
    background-color: inherit;
}

/* Styles for question and answer choices */

.container {
   
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem; 
    margin: 0 auto;
    padding: 2rem;

} 
  
  .justify-center {
    justify-content: center;
  }

.choice-container {
    display: flex;  
    margin-bottom: 0.7rem;
    width: 100%;
    border: 0.1rem solid #af4657;
    background-color: #f3f8f3;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem #f3f8f3;
    transform: translateY(-0.2rem);
    transition: transform 100ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #af4657;
    color: #f3f8f3;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

/* Color for right or wrong answer */

.correct {
    background-color: #7dd191;
}

.incorrect {
    background-color: #d37484
}

/*  HUD */ 

#display {
    display: flex;
    justify-content: space-around;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-main-text{
    text-align: center;
}

#progress-bar {
    width: 20rem;
    height: 5rem;
    border: 0.3rem solid #af4657;
    margin-bottom: 2rem;
}

#progressBarFull {
    height: 4.5rem;
    background-color: #af4657;
    width: 0%;
}
